* {
	font-family: 'Raleway';
}
input,
textarea {
	font-family: sans-serif;
}
.navbar {
	border-radius: 0px;
	background: #026AA7;
}
.navbar a {
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
}
.navbar button {
	font-family: 'Raleway';
	color: #ffffff;
	font-weight: bold;
	border-radius: 8px;
	padding: 6px 16px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
}
.navbar button.login {
	background: #00579d;
}
.navbar button.signup {
	background: #61bd4f;
}
.navbar button.login:hover {
	background: #00468c;
}
.navbar button.signup:hover {
	background: #50ac3e;
}
.navbar li a {
	font-size: 16px;
}
.navbar li a:hover,
.navbar li a:active,
.navbar li a:focus {
	background: #00468c;
}
.nav .open>a:hover,
.nav .open>a:active,
.nav .open>a:focus {
	background: #00468c;	
}
ul.dropdown-menu {
	baackground-color: #50ac3e; 
}
ul.dropdown-menu li a {
	font-size: 12px;
	font-weight: bold;
}
ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:active,
ul.dropdown-menu li a:focus {
	background-color: #eeeeee;
	font-weight: bold;
}

.panel-heading {
	font-weight: bold;
}

.text-small {
	font-weight: bold !important;
	font-size: 12px;
}

.intro-block {
	margin-top: -20px;
	background: url('../img/intro-block.jpg') center left / cover no-repeat #0079bf;
	padding: 100px 0px;
	text-align: center;
}
.intro-block .text,
.intro-block .text-small {
	max-width: 600px;
	color: #ffffff;
	margin: 0 auto;
}
.intro-block .text {
	font-size: 32px;
	font-weight: bold;
}
.intro-block .text-small {
	margin: 12px auto;
	font-size: 18px;
}
.intro-block button {
	font-family: 'Raleway';
	color: #ffffff;
	font-weight: bold;
	border-radius: 8px;
	padding: 12px 32px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
	background: #61bd4f;
}
.intro-block button:hover {
	color: #ffffff;
	background: #50ac3e;
}
.intro-block a {
	color: #ffffff;
	text-decoration: underline;
}
.app {
	background-color: #0079bf;
}

.btn-main {
	font-family: 'Raleway';
	color: #ffffff;
	font-weight: bold;
	border-radius: 8px;
	padding: 6px 16px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
	background: #00579d;
}
.btn-main:hover {
	color: #ffffff;
	background: #00468c;
}
.btn-green {
	font-family: 'Raleway';
	color: #ffffff;
	font-weight: bold;
	border-radius: 8px;
	padding: 6px 16px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
	background: #61bd4f;
}
.btn-green:hover {
	color: #ffffff;
	background: #50ac3e;
}

.new .detail {
	font-weight: bold;
	font-size: 10px;
	padding: 8px 0;
	border-bottom: 1px solid #f5f5f5;
}

.color-white {
	color: #ffffff;
}

.projects a:hover {
	text-decoration: none;
}
.projects .panel-body {
	font-family: sans-serif;
	text-decoration: none;
	color: #333333;
}

.project {
	padding: 0px 12px;
}
.project .heading {
	font-weight: bold;
	color: #ffffff;
}
.project .area {
	user-select: none;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 100px;
    right: 8px;
    left: 12px;
    bottom: 0px;
}
.project .area .board {
	padding: 8px;
	background-color: #eeeeee;
	width: 280px;
	margin-right: 12px;
	border-radius: 4px;
	max-height: 100%;
	overflow: scroll;
	overflow-x: auto;
	display: inline-block;
	vertical-align: top;
}
.area::-webkit-scrollbar {
	height: 8px;
}
.board::-webkit-scrollbar {
	width: 8px;
}
.area::-webkit-scrollbar-track,
.board::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: rgba(0,0,0,0.2);
}
.area::-webkit-scrollbar-thumb,
.board::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.3);
}
.project .area .board .title {
	font-weight: bold;
	text-align: center;
}

.project .area .board .card {
	background-color: #ffffff;
	border-radius: 3px;
	padding: 8px;
	margin: 8px 0;
	border-bottom: 1px solid #cccccc;
}
.project .area .board .card .title {
	font-family: sans-serif;
	font-weight: normal;
	text-align: left;
}